In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [24]:
df=pd.read_csv('mercedesbenz.csv',usecols=['X1','X2','X3','X4','X5'])

In [3]:
df

     X1  X2 X3 X4  X5
0     v  at  a  d   u
1     t  av  e  d   y
2     w   n  c  d   x
3     t   n  f  d   x
4     v   n  f  d   h
...  ..  .. .. ..  ..
4204  s  as  c  d  aa
4205  o   t  d  d  aa
4206  v   r  a  d  aa
4207  r   e  f  d  aa
4208  r  ae  c  d  aa

[4209 rows x 5 columns]

In [4]:
for col in df.columns:
    print(col,':',len(df[col].unique()),'labels')

X1 : 27 labels
X2 : 44 labels
X3 : 7 labels
X4 : 4 labels
X5 : 29 labels

In [6]:
df.X2.value_counts().sort_values(ascending=False)

as    1659
ae     496
ai     415
m      367
ak     265
r      153
n      137
s       94
f       87
e       81
aq      63
ay      54
a       47
t       29
k       25
i       25
b       21
ao      20
ag      19
z       19
d       18
ac      13
g       12
ap      11
y       11
x       10
aw       8
at       6
h        6
q        5
al       5
an       5
p        4
av       4
ah       4
au       3
j        1
l        1
o        1
c        1
af       1
ar       1
am       1
aa       1
Name: X2, dtype: int64

In [9]:
top_10=[x for x in df.X2.value_counts().sort_values(ascending=False).head(10).index]

In [10]:
top_10

['as', 'ae', 'ai', 'm', 'ak', 'r', 'n', 's', 'f', 'e']

In [14]:
for label in top_10:
    df[label]=np.where(df['X2']==label,1,0)

In [15]:
df

     X1  X2 X3 X4  X5  as  ae  ai  m  ak  r  n  s  f  e
0     v  at  a  d   u   0   0   0  0   0  0  0  0  0  0
1     t  av  e  d   y   0   0   0  0   0  0  0  0  0  0
2     w   n  c  d   x   0   0   0  0   0  0  1  0  0  0
3     t   n  f  d   x   0   0   0  0   0  0  1  0  0  0
4     v   n  f  d   h   0   0   0  0   0  0  1  0  0  0
...  ..  .. .. ..  ..  ..  ..  .. ..  .. .. .. .. .. ..
4204  s  as  c  d  aa   1   0   0  0   0  0  0  0  0  0
4205  o   t  d  d  aa   0   0   0  0   0  0  0  0  0  0
4206  v   r  a  d  aa   0   0   0  0   0  1  0  0  0  0
4207  r   e  f  d  aa   0   0   0  0   0  0  0  0  0  1
4208  r  ae  c  d  aa   0   1   0  0   0  0  0  0  0  0

[4209 rows x 15 columns]

In [25]:
for col in df.columns:
    for label in top_10:
        df[col+'_'+label]=np.where(df[col]==label,1,0)

In [30]:
df[df['X1_n']==1]

,X1,X2,X3,X4,X5,X1_as,X1_ae,X1_ai,X1_m,X1_ak,...,X5_as,X5_ae,X5_ai,X5_m,X5_ak,X5_r,X5_n,X5_s,X5_f,X5_e
81,n,as,d,d,j,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
176,n,ak,f,d,i,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
734,n,aq,f,d,af,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
901,n,as,d,d,ag,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1049,n,n,f,d,ag,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1266,n,as,f,d,ab,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1401,n,s,c,d,ac,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1561,n,ak,d,d,ad,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1639,n,r,a,d,ad,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1941,n,s,c,d,ah,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2011,n,ae,a,d,l,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2240,n,as,f,d,k,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2421,n,as,c,d,n,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2769,n,s,c,d,p,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2971,n,ae,c,d,q,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3068,n,as,f,d,q,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3109,n,as,c,d,q,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3495,n,r,d,d,r,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3906,n,as,g,d,w,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0